body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(200, 0, 255), rgb(138, 94, 0));;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
